<h1 class="text-center">Projects</h1><br />
<% @projects.each do |project| %>
    <div class="boom-box col-10 offset-1">
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
        <p><%= project.app_link %></p>
        </div>
<% end %>
